<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.m20"
    android:versionCode="194"
    android:versionName="8c4c36a.20180614T135101Z">
    <!--
    PlayStore에 등록된 앱은 VersionCode와 VersionName의 두가지 속성을 가지고 있다.
    VersionCode는 정수값을 이용하는데, 플레이 스토어 내부적으로 상위 버전을 구분하는데 사용되고,
    VersionName은 플레이 스토어에서 사용자에게 보여주기 위한 값으로 사용된다.
    -->>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <receiver
            android:name=".activity.BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!--
        <receiver android:name=".activity.PackageBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        //-->
        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PersonCheckupActivity"
            android:screenOrientation="landscape" />
        <!--
        <activity
            android:name=".activity.PersonCheckupActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        //-->

        <activity
            android:name=".activity.PersonTabActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MenuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.DetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.DetailFrontActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.DetailBackActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.DetailStartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.EndActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.DetailStrongActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.WeighWanningActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.WeightDisplayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.BodyFatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.BodyFactWanningActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.LateEndActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.UsbEventReceiverActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
    </application>

</manifest>